* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 390px;
  margin: auto;
  background-color: #111111;
}

header {
  padding: 16px 28.56px 24px 27.79px;
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: #898989;
}
.header_nav ul li a div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.41px;
  height: 40.41px;
  overflow: hidden;
}
.header_nav ul li a div img {
  object-fit: cover;
}

.main_box {
  padding: 15px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 9px;
  margin-bottom: 13px;
}
.sidebar .sidebar_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.sidebar .sidebar_section button {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  color: #e0e0e0;
  background-color: #202020;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 3%;
  cursor: pointer;
}
.sidebar article {
  width: 41.41px;
  height: 41.41px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar article img {
  object-fit: cover;
}

.home_main_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home_main_box_catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.home_main_box_catalog .home_main_box_catalog_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #202020;
  border-radius: 10px;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  gap: 8px;
  min-width: 0;
}
.home_main_box_catalog .home_main_box_catalog_card img {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  object-fit: cover;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  color: #e0e0e0;
  font-weight: 700;
}
.home_main_box_catalog .home_main_box_catalog_card .text_box p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.home_main_box_made_for_you {
  display: flex;
  gap: 9px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card {
  max-width: 141.06px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box .home_main_box_made_for_you_card_image_box_first_line {
  padding-inline: 15.35px;
  border-radius: 6.02px 6.02px 0 0;
  height: 2.49px;
  background-color: rgba(206, 110, 153, 0.1450980392);
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box .home_main_box_made_for_you_card_image_box_second_line {
  padding-inline: 6.64px;
  border-radius: 6.02px 6.02px 0 0;
  height: 4.98px;
  background-color: #ce6e9a;
}
.home_main_box_made_for_you .home_main_box_made_for_you_card .home_main_box_made_for_you_card_image_box img {
  width: 146.01px;
  height: 146.01px;
  object-fit: cover;
  border-radius: 6.02px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar .search-input {
  width: 300px;
  height: 35px;
  padding: 0 10px;
  margin: 10px 10px;
  border-radius: 8px;
  border: 1px solid #202020;
  background-color: #202020;
}
.search-bar .search-icon {
  width: 20px;
  height: 20px;
  transform: translateX(-55px);
}
.search-bar .camera-icon {
  transform: translateX(-50%);
}
@media (min-width: 790px) {
  .search-bar .camera-icon {
    display: none;
  }
}

@media (min-width: 790px) {
  .container {
    width: 100%;
  }
}
.recent-searches {
  margin: 10px 20px;
}
.recent-searches h3 {
  display: none;
  color: #e0e0e0;
  margin: 10px 20px;
  padding-top: 8px;
}
.recent-searches span {
  color: #e0e0e0;
  text-align: center;
}
.recent-searches .resent-searches-list {
  display: none;
  height: 300px;
}
.recent-searches .recent-searches-box {
  margin: 10px 15px;
}
@media (min-width: 790px) {
  .recent-searches .resent-searches-list {
    display: flex;
    flex-direction: row;
  }
  .recent-searches h3 {
    display: block;
  }
}

.recent-searches-box {
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.discover,
.genres {
  color: #e0e0e0;
  margin: 10px 20px;
  padding-top: 8px;
}
.discover span,
.genres span {
  display: inline-block;
  padding-top: 8px;
}

.search-card-headers {
  position: absolute;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
}

.search-card-imgs {
  width: 90px;
  height: 90px;
  position: absolute;
  transform: rotate(30deg) translate(100%, -10%);
}
@media (min-width: 790px) {
  .search-card-imgs {
    width: 100px;
    height: 100px;
    transform: rotate(30deg) translate(95%, 20%);
  }
}

.search-cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 790px) {
  .search-cards-box {
    display: flex;
    flex-direction: row;
  }
}

.search-made-for-you-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-made-for-you-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-made-for-you-card {
  background-color: #1E3264;
}

.search-new-releases-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-new-releases-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-new-releases-card {
  background-color: #BA5D07;
}

.search-spotify-classics-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-spotify-classics-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-spotify-classics-card {
  background-color: #1E3264;
}

.search-charts-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-charts-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-charts-card {
  background-color: #8D67AB;
}

.search-trending-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-trending-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-trending-card {
  background-color: #B02897;
}

.search-discover-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-discover-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-discover-card {
  background-color: #8D67AB;
}

.search-spotify-singles-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-spotify-singles-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-spotify-singles-card {
  background-color: #777777;
}

.search-decades-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-decades-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-decades-card {
  background-color: #BA5D07;
}

.search-pop-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-pop-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-pop-card {
  background-color: #148A08;
}

.search-country-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-country-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-country-card {
  background-color: #D84000;
}

.search-hip-hop-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-hip-hop-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-hip-hop-card {
  background-color: #503750;
}

.search-rock-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-rock-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-rock-card {
  background-color: #006450;
}

.search-indie-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-indie-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-indie-card {
  background-color: #E91429;
}

.search-punk-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-punk-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-punk-card {
  background-color: #1E3264;
}

.search-metal-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-metal-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-metal-card {
  background-color: #E91429;
}

.search-instrumental-card {
  position: relative;
  width: 170px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}
@media (min-width: 790px) {
  .search-instrumental-card {
    width: 160px;
    height: 160px;
    margin-right: 15px;
  }
}
.search-instrumental-card {
  background-color: #537AA1;
}

body {
  font-family: "Satoshi", sans-serif;
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
