@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;
@use "../layout" as *;

//search bar
.search-bar {
    @include flex-space-between;
    
.search-input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    margin: 10px 10px;
    border-radius: 8px;
    border: 1px solid $color-bg-btn;
    background-color: $color-bg-btn;
}
.search-icon{
    width: 20px;
    height: 20px;
    transform: translateX(-55px);
    }
.camera-icon{
    transform: translateX(-50%);
}
}

//main section

.discover,
.{
    color: $color-text-btn;
    margin: 0 20px;
    padding-top: 8px;
span{
    display: inline-block;
    padding-top: 8px;
}

}

.search-card-headers{
     @include search-card-header;
}
.search-card-imgs{
    @include search-card-img;
}
.search-cards-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
}
.search-made-for-you-card{
    @include search-card;
    background-color: #1E3264;
}

.search-new-releases-card{
    @include search-card;
    background-color: #BA5D07;
}

.search-spotify-classics-card{
    @include search-card;
    background-color: #1E3264;
}

.search-charts-card{
    @include search-card;
    background-color: #8D67AB;
}

.search-trending-card{
    @include search-card;
    background-color: #B02897;
}

.search-discover-card{
    @include search-card;
    background-color: #8D67AB;
}

.search-spotify-singles-card{
    @include search-card;
    background-color: #777777;

}

.search-decades-card{
    @include search-card;
    background-color: #BA5D07;

}

.search-pop-card{
    @include search-card;
    background-color: #148A08;

}

.search-country-card{
    @include search-card;
    background-color: #D84000;

}

.search-hip-hop-card{
    @include search-card;
    background-color: #503750;

}

.search-rock-card{
    @include search-card;
    background-color: #006450;

}

.search-indie-card{
    @include search-card;
    background-color: #E91429;

}

.search-punk-card{
    @include search-card;
    background-color: #1E3264;

}

.search-metal-card{
    @include search-card;
    background-color: #E91429;

}

.search-instrumental-card{
    @include search-card;
    background-color: #537AA1;

}